/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @media only screen and (min-width: 993px) {
   #toast-container {
    right: 30px;
    bottom: 30px;
    max-width: 86%;
    top: auto;
  }
}

 .side-nav user-state {
   height: 133px;
   background: url(../images/user-header.jpg) no-repeat center center;
   background-size: cover;
   margin-bottom: 15px;
 }

 .side-nav user-state a {
   width: 100%;
 }

 .side-nav user-state .avatar {
   margin-right: 20px;
 }

 .side-nav li.user-details {
    background: url(../images/user-header.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 15px;
    padding: 15px 0 0 15px;
 }

 .refresh i {
   -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
 }

 .refresh:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
 }

 .integrations-title {
   display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #24292e;
    margin-bottom: 10px;
 }

 .integrations-title a {
   color: #24292e;
 }

 .dropdown-content li>a {
   color: #24292e;
 }

 user-state {
   height: 65px;
   width: 100%;
   display: flex;
   align-items: center;
 }

 nav {
   background-color: #24292e;
   color: rgba(255,255,255,0.75);
 }

 nav .brand-logo {
   font-size: 1.9rem;
   display: flex;
   height: 100%;
   align-items: center;
   margin-left: 10px;
 }

 .tabs {
   display: flex;
   justify-content: space-around;
 }

 .dropdown-content.select-dropdown {
   max-height: 400px;
 }

 .vex.vex-theme-default .vex-dialog-form .vex-dialog-buttons {
       padding: 1em;
 }

 div#integrations,
 div#preferences {
   padding: 1em;
    flex-grow: 1;
    height: 10px;
    overflow-y: auto;
 }

 nav.nav-extended .nav-wrapper {
       padding: 0 1em;
 }

 .vex.vex-theme-default .vex-dialog-form .vex-dialog-input {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: hidden;
    height: 10px;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 0;
 }

 .vex.vex-theme-default .vex-content {
   padding: 0;
   overflow: hidden;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   max-height: 720px;
   margin: auto;
 }

 .vex-dialog-form {
   height: 100%;
   display: flex;
   flex-direction: column;
 }

 .vex.vex-theme-default .vex-dialog-form .vex-dialog-message {
   display: none;
 }

 .kb-hide {
   visibility: hidden;
 }

 .dropdown-button {
   height: 100%;
   display: flex;
   align-items: center;
   color: rgba(255,255,255,0.75);
 }

 .repo-form-element, .post-achievements {
   display: flex;
   justify-content: space-between;
   padding: 5px 0;
 }

 .switch {
   flex-shrink: 0;
 }

 .avatar {
   height: 60%;
   border-radius: 4px;
   margin-right: 10px;
 }

.list-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 25px;
}

.list-container a {
    margin: 10px;
}

.main-color {
  color: white;
}

p {
  line-height: 2rem;
}

.side-nav {
  background: #24292e;
}

.button-collapse {
  color: white;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  width: 100%;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
