/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .tabs {
   display: flex;
   justify-content: space-around;
 }

 .dropdown-content.select-dropdown {
   max-height: 400px;
 }

 .vex.vex-theme-default .vex-dialog-form .vex-dialog-buttons {
       padding: 1em;
 }

 div#integrations,
 div#preferences {
   padding: 1em;
    flex-grow: 1;
    height: 10px;
    overflow-y: auto;
 }

 nav.nav-extended .nav-wrapper {
       padding: 0 1em;
 }

 .vex.vex-theme-default .vex-dialog-form .vex-dialog-input {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: hidden;
    height: 10px;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 0;
 }

 .vex.vex-theme-default .vex-content {
   padding: 0;
   overflow: hidden;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   max-height: 720px;
   margin: auto;
 }

 .vex-dialog-form {
   height: 100%;
   display: flex;
   flex-direction: column;
 }

 .vex.vex-theme-default .vex-dialog-form .vex-dialog-message {
   display: none;
 }

 .kb-hide {
   visibility: hidden;
 }

 .dropdown-button {
   height: 100%;
   display: flex;
   align-items: center;
 }

 .dropdown-content {
   transform: translateY(64px);
 }

 .repo-form-element {
   display: flex;
   justify-content: space-between;
   padding: 5px 0;
 }

 .switch {
   flex-shrink: 0;
 }

 .avatar {
   height: 60%;
   border-radius: 4px;
   margin-right: 10px;
 }

.list-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 25px;
}

.list-container a {
    margin: 10px;
}

.main-color {
  color: white;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #70096c;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
